Importing Dependencies

In [105]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

Data Collection & Processing

In [106]:
df = pd.read_csv('Dataset/dataset.csv')

In [107]:
df.head()

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23
0,phon_R01_S01_1,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,...,0.06545,0.02211,21.033,1.0,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654
1,phon_R01_S01_2,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,...,0.09403,0.01929,19.085,1.0,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674
2,phon_R01_S01_3,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,...,0.08270,0.01309,20.651,1.0,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634
3,phon_R01_S01_4,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,...,0.08771,0.01353,20.644,1.0,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975
4,phon_R01_S01_5,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,...,0.10470,0.01767,19.649,1.0,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335

In [108]:
df.shape

(195, 24)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      195 non-null    object
 1   v1      195 non-null    float64
 2   v2      195 non-null    float64
 3   v3      195 non-null    float64
 4   v4      195 non-null    float64
 5   v5      195 non-null    float64
 6   v6      195 non-null    float64
 7   v7      195 non-null    float64
 8   v8      195 non-null    float64
 9   v9      195 non-null    float64
 10  v10     195 non-null    float64
 11  v11     195 non-null    float64
 12  v12     195 non-null    float64
 13  v13     195 non-null    float64
 14  v14     195 non-null    float64
 15  v15     195 non-null    float64
 16  v16     195 non-null    float64
 17  v17     195 non-null    float64
 18  v18     195 non-null    float64
 19  v19     195 non-null    float64
 20  v20     195 non-null    float64
 21  v21     195 non-null    float64
 22  v22     195 non-null    float64
 23  v23     195 non-null    float64
dtypes: float64(23), object(1)
memory usage: 36.7+ KB

In [110]:
df.describe()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,...,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,154.228641,197.104918,116.324631,0.006220,0.000044,0.003306,0.003446,0.009920,0.029709,0.282251,...,0.046993,0.024847,21.885974,0.753846,0.498536,0.718099,-5.684397,0.226510,2.381826,0.206552
std,41.390065,91.491548,43.521413,0.004848,0.000035,0.002968,0.002759,0.008903,0.018857,0.194877,...,0.030459,0.040418,4.425764,0.431878,0.103942,0.055336,1.090208,0.083406,0.382799,0.090119
min,88.333000,102.145000,65.476000,0.001680,0.000007,0.000680,0.000920,0.002040,0.009540,0.085000,...,0.013640,0.000650,8.441000,0.000000,0.256570,0.574282,-7.964984,0.006274,1.423287,0.044539
25%,117.572000,134.862500,84.291000,0.003460,0.000020,0.001660,0.001860,0.004985,0.016505,0.148500,...,0.024735,0.005925,19.198000,1.000000,0.421306,0.674758,-6.450096,0.174351,2.099125,0.137451
50%,148.790000,175.829000,104.315000,0.004940,0.000030,0.002500,0.002690,0.007490,0.022970,0.221000,...,0.038360,0.011660,22.085000,1.000000,0.495954,0.722254,-5.720868,0.218885,2.361532,0.194052
75%,182.769000,224.205500,140.018500,0.007365,0.000060,0.003835,0.003955,0.011505,0.037885,0.350000,...,0.060795,0.025640,25.075500,1.000000,0.587562,0.761881,-5.046192,0.279234,2.636456,0.252980
max,260.105000,592.030000,239.170000,0.033160,0.000260,0.021440,0.019580,0.064330,0.119080,1.302000,...,0.169420,0.314820,33.047000,1.000000,0.685151,0.825288,-2.434031,0.450493,3.671155,0.527367

In [111]:
df.isnull().sum()

id     0
v1     0
v2     0
v3     0
v4     0
v5     0
v6     0
v7     0
v8     0
v9     0
v10    0
v11    0
v12    0
v13    0
v14    0
v15    0
v16    0
v17    0
v18    0
v19    0
v20    0
v21    0
v22    0
v23    0
dtype: int64

In [112]:
df.columns

Index(['id', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10',
       'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20',
       'v21', 'v22', 'v23'],
      dtype='object')

In [113]:
# Check which column is most likely the target
for col in df.columns:
    unique_vals = df[col].unique()
    if len(unique_vals) <= 2:  # usually binary target
        print(f"Possible target column: {col}")
        print(f"Unique values: {unique_vals}")
        print(df[col].value_counts())
        print("-" * 30)

Possible target column: v17
Unique values: [1. 0.]
v17
1.0    147
0.0     48
Name: count, dtype: int64
------------------------------

In [114]:
df = df.drop('id', axis=1)

Splitting features and target(v17)

In [115]:
X = df.drop('v17', axis=1)
y = df['v17']

Train Test Split

In [116]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

Standardizing the data

In [117]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Training and Evaluating models

In [118]:
def evaluate_models(X_train, X_test, y_train, y_test):
    models = {
        'Logistic Regression': LogisticRegression(),
        'SVM (Linear Kernel)': SVC(),
        'K-Nearest Neighbors': KNeighborsClassifier(),
        'Random Forest': RandomForestClassifier()
    }
    
    for name, model in models.items():
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        train_acc = accuracy_score(y_train, y_train_pred)
        test_acc = accuracy_score(y_test, y_test_pred)
        
        print(f"{name}:")
        print(f"  Training Accuracy = {train_acc:.4f}")
        print(f"  Test Accuracy     = {test_acc:.4f}")
        print("-" * 40)

In [119]:
# Call the function
evaluate_models(X_train, X_test, y_train, y_test)

Logistic Regression:
  Training Accuracy = 0.8654
  Test Accuracy     = 0.9231
----------------------------------------
SVM (Linear Kernel):
  Training Accuracy = 0.8910
  Test Accuracy     = 0.9231
----------------------------------------
K-Nearest Neighbors:
  Training Accuracy = 0.9551
  Test Accuracy     = 0.9231
----------------------------------------
Random Forest:
  Training Accuracy = 1.0000
  Test Accuracy     = 0.9231
----------------------------------------